@import './table.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.number-column {
	width: fit-content;
}

.open-file-btn {
	background-color: forestgreen;
	color: white;
	height: fit-content;
	font-size: 22px;
	align-self: center;

	&:hover {
		color: white;
		background-color: rgb(28, 119, 28) !important;
	}
}

.app-title {
	font-size: 35px;
	font-family: cursive;
	font-style: italic;
	color: #313131;
}

.plain-session-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;

	& > div {
		& > span {
			// margin-bottom: 16px;
			color: #92929b;
			font-size: 18px;
			font-weight: 500;
			/* background-color: #7070ff; */
		}
	}
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: ghostwhite;
	// padding: 15px;
	// gap: 10px;
	/* height: 185px; */
	// box-shadow: 0px 5px 13px 5px #d7d7d76b;
	align-items: center;

	& > * {
		margin: 10px;
	}

	& > .head {
		display: flex;
		// gap: 15px;

		flex-direction: row-reverse;
		width: -webkit-fill-available;
		justify-content: space-around;

		& > h1 {
			/* background-color: white; */
			/* text-shadow: 0px 0px 20px #cf3aff; */
			/* mrgin-top: 110px; */
			font-weight: 300;
			padding-top: 3px;
			padding-top: 3px;
			color: #717171;
		}
	}

	.focused-object {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 0px;
		// gap: 10px;
		// height: 45px;
		/* margin: 25px 50px 25px; */
		color: black;
		border-color: #cbcbcb;
		/* background-color: rgb(143 205 247 / 29%); */
		// padding: 5px 25px !important;
		border-radius: 9px;
		font-size: 22px;
		border-style: solid;
		border-color: #ebebeb;
		border-width: 0px;
		align-items: center;

		& > .first-data {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			height: 45px;
			/* margin: 25px 50px 25px; */
			color: black;
			border-color: #cbcbcb;
			/* background-color: rgb(143 205 247 / 29%); */
			padding: 5px 25px !important;
			border-radius: 9px;
			font-size: 22px;
			border-style: solid;
			border-color: #ebebeb;
			border-width: 0px;
			align-items: center;

			& > div {
				color: #ababab;
			}

			& > .name {
				color: black;
				font-size: 25px;
			}

			& > .inventory-number {
				height: fit-content;
				color: black;
				background-color: #ffae3a;
				padding: 0px 5px;
				border-radius: 6px;
			}
		}

		.second-data {
			height: 35px;
			display: flex;
			align-items: center;
			font-size: 25px;

			& > * {
				color: #9a9aa5 !important;
			}
		}
	}

	// @media (min-width: 640px) and (max-width: 1000px) {
	// 	height: 500px;
	// }
}

.ant-pagination {
	display: none !important;
}

.checked-item {
	color: black;
	background-color: rgba(26, 196, 4, 0.623);
}

.markform {
	height: fit-content;
	display: flex;
	gap: 5px;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
	border-color: #dddddd;

	padding: 5px;

	& > button {
		height: auto !important;
		background-color: forestgreen;
		color: white;
		font-size: 22px !important;
		width: 200px;

		&:hover {
			color: white !important;
		}
	}

	& > .numeric-input {
		& > .ant-form-item {
			& > .ant-row {
				& > .ant-col {
					display: flex;
					flex-direction: column-reverse;
				}
			}
		}
	}
}

.switch {
	width: 100%;
}

.underline {
	text-decoration: underline;
}

.title-name {
	position: absolute;
}

.ant-switch {
	margin-top: -8px;
	/* margin-bottom: -2px; */
}

.rc-virtual-list-scrollbar {
	visibility: visible !important;
}

.rc-virtual-list-scrollbar-horizontal {
	display: none;
}

.ant-table-row {
	height: 40px;
}

.count-data {
	display: flex;

	& > div {
		text-align: center;
		width: 100%;
		color: #ffffff;
		background-color: rgb(0 0 0 / 78%);
		border-radius: 6px;
		padding-inline: 5px;
	}
}

.blue-grey {
	color: #9a9aa5 !important;
}

.settings-string {
	display: flex;
	justify-content: center;
	margin: 5px;

	& > .ant-segmented {
		background-color: #e3e3e3;

		& > .ant-segmented-group {
		}
	}
}

.session-list {
	display: flex;
	flex-direction: column;
	margin: 15px;

	& > .title {
		display: flex;
		margin: 5px 15px;
		color: #a7a7ab;
		font-size: 20px;
		border-radius: 5px;
		padding: 2px 5px;
		color: black;
		font-size: 22px;

		& > span {
			text-decoration: underline;
		}
	}

	& > .session-buttons {
		display: flex;
		gap: 15px;
		margin: 15px;
	}
}

.session-btn {
	display: flex;
	align-items: center;
	border-radius: 5px;
	border-style: solid;
	// border-width: ;

	// padding: 30px;
	// border-style: none;

	box-shadow: 2px 2px 4px 0px #e3e1e0;
	height: fit-content;
	width: fit-content;

	&-orange {
		background-color: antiquewhite; //#d1e9ff
	}

	&-blue {
		background-color: #d1e9ff;
	}

	// цвет для полностью зеленых ведомостей #afffa0

	// background-image: linear-gradient(hsl(22 100% 87% / 1), hsl(22 100% 96% / 1));

	& > div {
		width: fit-content;

		& > .name {
			font-size: 20px;
		}

		& > .bottom {
			display: flex;
			flex-direction: column;

			& > .itemCount {
				display: flex;
				justify-content: center;

				& > div {
					display: flex;
					align-items: center;
					gap: 5px;

					font-size: 16px;
					font-weight: 500;
					color: #24252b;
					// background-color: #c3c3c3;
					border-radius: 7px;
					width: fit-content;
					padding-inline: 5px;

					border-style: solid;
					border-width: 1px;
					border-color: #c7c7c7;
					border-radius: 5px;

					& > span {
						& > sup {
							background-color: rgb(0 195 15) !important;
							box-shadow: none;
							border-radius: 4px;
							color: #edfff6;
							font-size: 16px;
							font-weight: 500;
							/* margin: 0px; */
						}
					}
				}
			}

			& > .date {
				color: #8f744f;
			}
		}
	}
}

.add-new-session-form {
	display: flex;

	& > .ant-form-item {
		margin-right: 8px;
	}
}

.session-elements {
	display: flex;
	align-items: center;
	width: -webkit-fill-available;
	justify-content: space-around;
}

.session-button {
	height: fit-content;
	width: 400px;
	display: flex;
	justify-content: center;
	background-color: transparent;
	border-style: none;
	color: black;
	font-size: 22px;
	text-decoration: underline;
	// background-color: #a8a8c526;
	border-radius: 7px;
	// /* color: #e3279f; */
	// width: fit-content;
	padding: 10px;
}

.session-name {
	display: flex;
	// background-color: #efe920;
	border-radius: 6px;
	padding: 5px;
	width: 400px;
	justify-content: center;

	& > div {
		display: flex;
		background-color: #00d0ff;
		// background-color: #efe920;
		font-size: 30px;
		border-radius: 6px;
		padding: 5px;
	}
}

.filter-department-label {
	display: flex;
	flex-direction: row;
	// background-color: rgb(249 244 1 / 98%);
	border-radius: 40px;
	padding-right: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: darkgrey;

	& > .checked {
		background-color: #129900;
		color: white;
		// background-color: burlywood;
		border-radius: 24px;
		padding-inline: 9px;
	}

	& > .zero {
		background-color: #bdbdbd;
		color: white;
		// background-color: burlywood;
		border-radius: 24px;
		padding-inline: 9px;
	}

	& > .all {
		padding-right: 1px;
		padding-left: 4px;
	}

	& > .done {
		background-color: #129900;
	}
}

.done {
	color: white;
	background-color: #129900;
}

.ant-dropdown-menu-title-content {
	display: flex;

	& > span {
		& > div {
			display: flex;
		}
	}
}

.winter-tree {
	display: flex;
	position: absolute;
	align-items: end;
	padding: 20px 40px;
	width: -webkit-fill-available;
	height: -webkit-fill-available;

	& > img {
		width: 327px;
		height: 255px;
	}
}
